@use "@aztlan/base-styles";

html {
  font-size: 14px;
}

main.grid {
  grid-template-rows: auto 1fr auto;

  > nav {
    height: 100%;

    > ul {
      display: flex;
      flex-direction: column;
      height: 100%;

      > :last-child {
        margin-top: auto !important;
      }
    }
  }

  > .canvas {
    height: 100%;
    overflow: hidden;

    > .container {
      height: 100%;
      overflow: auto;
    }
  }
}

.main-row {
  overflow: hidden;
}

.canvas {
  //overflow-y: auto;
  height: 100%;
  overflow: hidden;

  > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    //overflow: auto;
  }
}

.container {
  position: relative;
}

