/* @aztlan/generator-front 3.9.0 */

@use "@aztlan/bem";

$default-background:transparent;
$selected-background:var(--near);

$default-separator: var(--separator, "/");

.#{bem.$base}.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;

  > .#{bem.$element-item} {
    //background: $default-background;
    position: relative;

    &.#{bem.$modifier-selected} {
      background: $selected-background;
    }

    & + .#{bem.$element-item}::before {
      background: $default-background;
      content: #{$default-separator};
      display: inline-block;
      left: calc(var(--gap) * -1);
      position: absolute;
      width: var(--gap);
      z-index: 1;
    }
  }
}


