@use "./themes" as themes;
@use "@aztlan/grid/src/main" as grid;
@use "@aztlan/swatch/src/main" as swatch with (
  $themes:(
    "light-theme":themes.$light-theme,
    "dark-theme":themes.$dark-theme,
    "blue-theme":themes.$blue-theme,
    "green-theme":themes.$green-theme,
  ),
  $extras:(
    "light-theme":(
      "font-size":18px,
      "light-height":1em,
      "margin":1em,
    ),
  )
);
@use "@aztlan/mixins/src/reset" as reset;
@use "@aztlan/mixins/src/font" as font;

$import-font-map:(
  "paragraph":(
    "normal-normal":"m.book",
    "bold-normal":"m.bold",
    "normal-italic":"m.book.italic",
    "bold-italic":"m.bold.italic",
  ),
  "icons":(
    "default":"icons",
  )
);

$root-font-map:(
  "paragraph":"helvetica neue, helvetica, sans-serif",
  "icons":"sans-serif",
);

@include font.import-from-map($import-font-map);
@include reset.reset();

:root {
  @include font.root-definitions-from-map($root-font-map);
}

