/* @aztlan/generator-front 3.6.3 */

@use "@aztlan/bem";


.#{bem.$base}.thread-message {
  .role {
    color: var(--label);
  }

  &.user {
    background: var(--soft-near);
  }

  &.assistant {
    background: var(--near);
  }

  > .suggestions {
    --tmp: calc(var(--columns) - 1);
    grid-column: 2/ -1;

    > * {
      --columns: var(--tmp);
    }
    //--columns: calc(var(--tmp) - 1);
  }
}


