/* @aztlan/generator-front 3.6.3 */

@use "@aztlan/bem";

.#{bem.$base}.thread-message {
  &.user {
    background: var(--soft-near);
  }

  &.assistant {
    background: var(--near);
  }

  > .suggestions {
    grid-column: 2/ -1;
  }
}


