/* @aztlan/generator-front 3.8.3 */

@use "@aztlan/bem";

$default-border-radius: 0.25em;
$default-border-color: var(--on-color);
$default-border-width: 1px;
$default-border-style: solid;

$default-line-height: 1.5em;

$fallback-color-name: error;

$default-background: var(--color, var(--#{$fallback-color-name}));
$hover-background: var(--hard-color, var(--hard-#{$fallback-color-name}));
$focus-background: var(--soft-color, var(--soft-#{$fallback-color-name}));
$disabled-background: var(--soft-color, var(--soft-#{$fallback-color-name}));

$default-color: var(--on-color, var(--on-#{$fallback-color-name}));
$hover-color: var(--on-color, var(--on-#{$fallback-color-name}));
$focus-color: var(--on-color, var(--on-#{$fallback-color-name}));
$disabled-color: var(--on-color, var(--on-#{$fallback-color-name}));


.#{bem.$base}.button {
  align-content: center;
  background: $default-background;
  border: $default-border-width $default-border-style $default-border-color;
  border-radius: $default-border-radius;
  color: $default-color;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: $default-line-height;
  padding: 0;
  text-align: center;
  transition: all 0.1s;

  &:not(.#{bem.$modifier-disabled}):not(:disabled):hover {
    background: $hover-background;
    color: $hover-color;
  }

  &:not(.#{bem.$modifier-disabled}):not(:disabled):focus {
    background: $focus-background;
    color: $focus-color;
  }


  &:disabled {
    background: $disabled-background;
    color: $disabled-color;

    &:hover,
    &:focus {
      background: $disabled-background;
      color: $disabled-color;
    }
    //cursor: not-allowed;
  }


  &.#{bem.$modifier-natural} {
    background: inherit;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-weight: inherit;
    text-align: inherit;

    &:hover,
    &:focus {
      background: inherit !important;
      color: inherit !important;
    }
  }


  .#{bem.$base}.#{bem.$modifier-simple} &,
  &.#{bem.$modifier-simple} {
    background-color: transparent;
    //color: ;
    border: 0;
    color: var(--color);

    &:disabled {
      background: transparent;
      color: var(--soft-color);
    }

    &:not(.#{bem.$modifier-disabled}):not(:disabled):hover {
      background: transparent;
      color: var(--hard-color);
    }

    &:not(.#{bem.$modifier-disabled}):not(:disabled):focus {
      background: transparent;
      color: var(--soft-color);
    }
  }

  .#{bem.$base}.#{bem.$modifier-borderless} &,
  &.#{bem.$modifier-borderless} {
    border: 0;
    border-radius: 0;
  }

  .#{bem.$base}.button-group & {
    height: 100%;

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-left: 0;
      border-top-left-radius: 0;
    }
  }

  .#{bem.$base}.#{bem.$modifier-divided} &,
  &.#{bem.$modifier-divided} {
    border-bottom: 0;
    border-radius: 0;
    border-top: 0;
  }
}

a.#{bem.$base}.button {
  text-decoration: none;
}

.#{bem.$base}.button-group {
  display: inline-flex;
  position: relative;
}


