/* @aztlan/generator-front 0.8.0 */

@use "@aztlan/bem";

.#{bem.$base}.textarea {
  textarea {
    font-family: inherit;
    resize: vertical;
    width: 100%;

    &:disabled {
      resize: none;
    }
  }
}


