/* @aztlan/generator-front 3.4.0 */

@use "@aztlan/bem";

$infinite-scroll-offset: 1000px;

.#{bem.$base}.board {
  display: flex;
  flex-direction: column-reverse;
  //padding-bottom: calc(var(--gap) * 4);
  height: 100%;
  overflow: auto;
  position: relative;
  //scroll-snap-type: y;

  .groups {
    display: flex;
    flex-direction: column;
  }

  #board-end {
    margin-bottom: 5em;
  }

  #load-more {
    position: relative;

    .ref {
      //background: red;
      bottom: -$infinite-scroll-offset;
      height: $infinite-scroll-offset;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
    }
  }
}


