$mono-0: #ffffff;
$mono-1: #f8f9fa;
$mono-2: #e9ecef;
$mono-3: #dee2e6;
$mono-4: #ced4da;
$mono-5: #adb5bd;
$mono-6: #868e96;
$mono-7: #495057;
$mono-8: #343a40;
$mono-9: #212529;
$mono-10: #000000;

$theme: (
  "heading": [$mono-1 $mono-0 $mono-2 $mono-10],
  "paragraph": [$mono-3 $mono-2 $mono-4 $mono-10],
  "label": [$mono-5 $mono-4 $mono-6 $mono-10],
  "metadata": [$mono-5 $mono-6 $mono-4 $mono-10],
  "anchor": [$mono-7 $mono-8 $mono-6 $mono-0],
  //"disabled": [$mono-7 $mono-6 $mono-8 $mono-9],

  "far": [#191720 #3d3346 $mono-10 $mono-0],
  "near": [$mono-8 $mono-7 $mono-9 $mono-0],

  "error": [#ff5c53 #ff7b73 #b54d47 $mono-0],
  "success": [#40dd58 #8af59a #3ca14b $mono-0],
  "warning": [#f8f32b #edea07 #fbf874 $mono-0],
  "neutral": [$mono-6 $mono-7 $mono-5 $mono-0],
  "loading": [#0B7189 #095e71 #11add0 $mono-10],
  "new": [#ffbb00 #ffcc00 #ffdd00 $mono-10],

  "selected": [#f8f32b #edea07 #fbf874 $mono-10],
  "important": [#1565c0 #0d47a1 #42a5f5 $mono-0],
);

