/* @aztlan/generator-front 3.8.0 */

@use "@aztlan/bem";

.#{bem.$base}.notification {
  cursor: default;
  &.#{bem.$modifier-error} {
    background: var(--error);
    color: var(--on-error);
  }
  &.#{bem.$modifier-warning} {
    background: var(--warning);
    color: var(--on-warning);
  }
  &.#{bem.$modifier-success} {
    background: var(--success);
    color: var(--on-success);
  }
}


