/* @aztlan/generator-front 0.7.2 */

@use "@aztlan/bem";

.#{bem.$base}.choices {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  input {
    //opacity: 0;
    //position: absolute;
    //visibility: none;
    display: none;
    //z-index: -1;
  }

  input + label {
    //cursor: pointer;
  }

  input:disabled + label {
    color: darkgray;
  }

  input:checked + label {
    color: red;
  }
}


