/* @aztlan/generator-front 3.9.0 */

@use "@aztlan/bem";

.#{bem.$base}.mega-menu {
  .nav {
    //position: relative;
  }

  ul {
    //width: 25%;
  }

  ul ul {
    //position: absolute;
    //right: 0;
    //top: 0;
  }

  li {
    &.#{bem.$modifier-disabled} {
      color: var(--metadata);
    }

    &:not(.#{bem.$modifier-disabled}) {
      > span {
        &.hover {
          background: red !important;
        }

        &.selected {
          background: yellow;
        }
      }
    }
  }
}


