/* @aztlan/generator-front 3.9.0 */

@use "@aztlan/bem";


.#{bem.$base}.mega-menu {
  background: var(--color);
  //height: 3em;
  position: relative;

  &:focus {
    background: var(--soft-color);
    outline: none;
  }

  nav {
    background: var(--color);
    display: flex;
    gap: var(--gap);
    position: absolute;
    top: 100%;
    width: min-content;
    z-index: 20;

    &:not(.#{bem.$modifier-open}) {
      display: none;
    }
  }

  ul {
    //width: 25%;
  }

  ul ul {
    //position: absolute;
    //right: 0;
    //top: 0;
  }
}


