/* @aztlan/generator-front 3.9.0 */

@use "@aztlan/bem";


.#{bem.$base}.mega-menu {
  background: var(--color);
  //height: 3em;
  position: relative;

  nav {
    background: var(--color);
    position: absolute;
    top: 100%;
    width: 100%;

    &:not(.#{bem.$modifier-open}) {
      display: none;
    }
  }

  ul {
    //width: 25%;
  }

  ul ul {
    //position: absolute;
    //right: 0;
    //top: 0;
  }
}


