/* @aztlan/generator-front 3.4.0 */

@use "@aztlan/bem";
@use "@aztlan/mixins/src/media" as media;

$span-language: 1;
$span-tools: 2;
$subtotal-span: $span-language + $span-tools;

@keyframes loading-background {
  0% {
    background: lightblue;
  }

  100% {
    background: transparent;
  }
}

.#{bem.$base}.expression {
  .general {
    > .language {
      grid-column-end: span $span-language;
    }

    > .expression {
      grid-column-end: span calc(var(--columns) - #{$subtotal-span});
    }

    > .tools {
      grid-column-end: span $span-tools;
    }
  }

  /* stylelint-disable-next-line */
  @include media.media($to: 801px) {
    .general {
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    display:flex;
      > .language {
        --columns:1;
        scroll-snap-align: start;
        //grid-column-end: span 1;
      }

      > .expression {
        --columns:7;
        p {
          white-space: normal;
        }
        //grid-column-end: span 7;
      }

      > .tools {
        --columns:3;
        scroll-snap-align: start;
        //grid-column-end: span 5;
      }
    }
  }
  &.#{bem.$modifier-loading} {
    animation: loading-background 10s linear forwards;
  }

  &.bookmarked {
    background: lightpink;
  }

}


