/* @aztlan/generator-front 3.4.0 */

@use "@aztlan/bem";

$span-language: 1;
$span-tools: 2;
$subtotal-span: $span-language + $span-tools;

@keyframes loading-background {
  0% {
    background: lightblue;
  }

  100% {
    background: transparent;
  }
}

.#{bem.$base}.expression {
  &.#{bem.$modifier-loading} {
    animation: loading-background 10s linear forwards;
  }

  .general {
    > .language {
      grid-column-end: span $span-language;
    }

    > .expression {
      grid-column-end: span calc(var(--columns) - #{$subtotal-span});
    }

    > .tools {
      grid-column-end: span $span-tools;
    }
  }
}


