/* @aztlan/generator-front 3.4.0 */

@use "@aztlan/bem";

.#{bem.$base}.addition-form {
  background: red;
  //bottom: 0;
  //position: absolute;
  width: 100%;

  button {
    align-self: end;
  }
}


