/* @aztlan/generator-front 0.9.0 */

@use "@aztlan/bem";

$span-submit-actions: 2;

.#{bem.$base}.modular-form {
  align-items: start;
  grid-template-rows: 1fr auto;
  height: 100%;
  .#{bem.$base}.submit-bar {
    align-items: end;

    > .content {
      grid-column: 1/#{-1-$span-submit-actions};
    }

    > .actions {
      grid-column-end: span $span-submit-actions;
    }
  }
}


