/* @aztlan/generator-front 1.2.22 */

@use "@aztlan/bem";
@use "@aztlan/mixins/src/media" as media;

.#{bem.$base}.navigation-header {
  --ls: var(--left-span);
  --rs: var(--right-span);
  --cs: calc(var(--columns) - var(--ls) - var(--rs));

  @include media.media($from: 801px) {
    --cs: calc(var(--columns) - var(--left-span-desktop) - var(--right-span-desktop));
    --ls: var(--left-span-desktop);
    --rs: var(--right-span-desktop);
  }
  background: var(--near);

  > .left {
    grid-column: 1 / span var(--ls);
  }

  > .center {
    grid-column: calc(var(--ls) + 1) / span var(--cs);
  }

  > .right {
    grid-column: calc(var(--columns) - var(--rs) + 1) / span var(--rs);
  }
  &.#{bem.$modifier-fixed} {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &.border {
    border-bottom: 2px solid black;
  }

  //> span > button {
  //  width: 100%;
  //}
}


