/* @aztlan/generator-front 0.8.0 */

@use "@aztlan/bem";
@use "@aztlan/mixins/src/media";
@use "@aztlan/base-styles/modifiers";
@use "../shared";

.#{bem.$base}.text {
  --current-prefix-span: var(--prefix-span);
  --current-suffix-span: var(--suffix-span);
  @include media.media($from: 801px) {
    --current-prefix-span: var(--prefix-span-desktop);
    --current-suffix-span: var(--suffix-span-desktop);
  }

  > * > input {
    font-family: inherit;
    @extend %input;

    &:disabled {
      @extend %disabled;
    }
  }

  > .grid {
    // If there is a suffix
    input:first-child:not(:only-child) {
      grid-column-end: span calc(-1 - var(--columns) - var(--current-suffix-span));
    }
    // If there is a prefix
    input:last-child:not(:only-child) {
      grid-column-end: span calc(-1 - var(--columns));
    }
    // If there is both prefix and suffix
    input:not(:first-child):not(:last-child) {
      grid-column-end: span calc(
        var(--columns) - var(--current-prefix-span) - var(--current-suffix-span)
      );
    }
    // If there is neither prefix or suffix
    input:only-child {
      grid-column: 1/-1;
    }
  }
}


